<h2>Search by category</h2>

<%= form_tag(results_search_index_path, method: "get") do %>
  <%= select_tag(:c, options_for_select(@categories.collect {|p| [ p.name, p.id ] }), include_blank: true) %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>