<h2>Cart</h2>
<%= debug session[:cart] %>
<p><%= link_to "Clear cart", clear_cart_product_index_path, method: :post %></p>

<h2>Available products</h2>
<ul>
<% @product_collection.each do |product| %>
  <li><%= link_to product.name, product %></li>
  <li><%= link_to "Add to cart", add_to_cart_product_path(product), method: :post %></li>
  <li><%= link_to "Remove", remove_item_from_cart_product_path(product), method: :post %></li>
<% end %>
</ul>

<%= paginate @product_collection %>
