<h2>More about the product</h2>
<ul>
  <% categories.each do |category| %>
    <li> <%= link_to category.name, category %></li>
  <% end %>
</ul>
<ul>
  <li>Name: <%= @product.name %></li>
  <li>Price: CAD <%= @product.price %></li>
  <li>Description: <%= @product.description %></li>
  <% if @product.image.present? %>
    <li><%= image_tag @product.image.url %></li>
  <% end %>
  <li>Category: <%= link_to @product.category.name, @product.category %></li>
</ul>
