<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Generic Store</h1>
    </header>
    <ul>
      <% categories.each do |category| %>
      <li> <%= link_to category.name, category %></li>
    <% end %>
    </ul>
    <ul>
      <li><%= link_to "Products", root_path %></li>
      <li><%= link_to "Search", search_index_path %></li>
    </ul>
    <%= yield %>
  </body>
</html>
